# Created by .ignore support plugin (hsz.mobi)
/.idea
/.docz
/dev
/docs
/node_modules
/src/__tests__
gatsby-config.js
doczrc.js
test-setup.js
gulpfile.js
jest.config.ts
postcss.config.js
tsconfig.json
.babelrc
.prettierignore
.prettierrc
